header
    background: url("../img/header.jpg") no-repeat
    background-size: cover
    background-position: center
    height: 100vh 
    .home-hero
        text-align: center
        position: relative
        top: 50px
        color: #fff
        p
            font-size: 30px
        span
            font-size: 50px
            font-weight: 700

.hero-cards
    position: relative
    top: -100px
    .hero-card
        width: 100%
        height: 300px
        margin: 20px 0
        padding: 20px
        color: #fff
        background-size: cover
        background-position: center
    .schedule
        background-image: url("../img/table-1.jpg")
    .premium
        background-image: url("../img/table-2.jpg")
    .clients
        background-image: url("../img/table-3.jpg")
    .card-title
        font-size: 20px
        font-weight: 600
    .schedule-table
        position: relative
        top: 80px
    .schedule-times
        border-bottom: 1px solid rgba(255, 255, 255, 0.4)
        p
            font-size: 17px
            margin: 10px 0
    