.nav-bar
    position: fixed
    
.scrolled
    background-color: #fff
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3)
    z-index: 50
    transition: all .5s
    a
        margin: 12px 0!important
    a.nav-links
        color: #998b8b
    a.logo
        background: url("../img/logo-active.png")!important
        background-repeat: no-repeat!important
        background-size: contain!important

.main-nav
    display: flex
    padding: 0
    margin: 0
    li
        list-style: none
        margin: auto 0
    li:first-child
        margin-right: auto 
    a
        color: white
        display: block
        border-radius: 4px
        padding: 10px 40px
        margin: 20px 0
        text-decoration: none 
        font-weight: 700
        text-transform: uppercase
        transition: all 0.2s ease
    a:hover
        color: #31B9FF
    a.button, a.button:hover
        color: #fff
    a.logo
        background: url("../img/logo.png")
        background-repeat: no-repeat
        background-size: contain
        height: 50px
        border-radius: 0 